li{
    list-style-type: none;
}

html{
    background: url("../img/Isagri.jpg") no-repeat fixed;
    background-position: 0 -200px;
    background-size: cover;
    width: 100vw;
}

body{
    background-color:black;
    opacity: 0.8;
    color: white;
    height: 100%;
}

.small{
    font-size: 0.5rem;
}

li, #btnSelectAll, #btnUnselectAll, #submitButton, #btnGo{
    border: 1px solid white;
    background-color: #242424;
    margin: 0.3rem;
    color: white;
}
ul{
    padding: 0;
}

#btnGo{
    font-size: 1.5rem;
    width: 10rem;
    height: 4rem;
    margin: 2rem 0;
}

#btnGo.disabled{
    background-color: gray;
}

.deleteImage{
    height: 1rem;
}

.membersSelectedSection{
    height: 200px;
}